name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Firefox releases
        # https://download-installer.cdn.mozilla.net/pub/firefox/releases/
        # Chrome versions
        # https://www.ubuntuupdates.org/package/google_chrome/stable/main/base/google-chrome-stable
        firefox_version: ["102.8.0esr"]
        chrome_version: ["110.0.5481.177"]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Build standalone image
        uses: redhat-actions/buildah-build@v2
        with:
          image: quay.io/redhatqe/selenium-standalone
          tags: ff_${{ matrix.firefox_version }}_chrome_${{ matrix.chrome_version }}
          dockerfiles: standalone/Dockerfile
          context: standalone
          oci: true
          build-args: |
            CHROME_VERSION=${{ matrix.chrome_version }}
            FIREFOX_VERSION=${{ matrix.firefox_version }}
      - name: Tag latest
        run: buildah tag quay.io/redhatqe/selenium-standalone:ff_${{ matrix.firefox_version }}_chrome_${{ matrix.chrome_version }} quay.io/redhatqe/selenium-standalone:latest
      - name: Push standalone image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: selenium-standalone
          tags: ff_${{ matrix.firefox_version }}_chrome_${{ matrix.chrome_version }}
          registry: quay.io/redhatqe
          username: ${{ secrets.QUAY_IO_USERNAME }}
          password: ${{ secrets.QUAY_IO_TOKEN }}
      - name: Push "latest" standalone image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: selenium-standalone
          tags: latest
          registry: quay.io/redhatqe
          username: ${{ secrets.QUAY_IO_USERNAME }}
          password: ${{ secrets.QUAY_IO_TOKEN }}
